* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  p,
  span {
    display: block;
  }
  
  .wrap {
    height: auto;
  }
  
  /* ------------header */
  
  header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
  }
  
  .top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .top-bar > a > img {
    width: 70%;
  }
  
  .menu-box,
  .anchor-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    height: 64px;
  }
  
  .menu-box > a,
  .anchor-box > a {
    font-size: 1.2rem;
    color: inherit;
    text-decoration: none;
  }
  
  
  
  /* ------------banner */
  .page_02 {
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/roblox_carousel_1920.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    background-color: black;
  }
  
  .content-02-tilte {
    position: absolute;
    top: 30%;
    left: 15vw;
    color: #fff;
  }
  
  /* -----------앵커메뉴 */
  
  .anchor-bar {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    position: sticky;
    z-index: 100;
    top: 64px;
    margin-bottom: 60px;
  }
  
  /* -------------------모바일시에만 보이기 */
  
  .page_02_1 {
    padding-bottom: 1.5rem;
    display: none;
  }
  
  .page_02_1_line_1 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 0.8em;
  }
  
  .page_02_1_line_1 > p {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .page_02_1_line_2 {
    text-decoration: line-through;
    font-size: 0.875rem;
    color: #616161;
  }
  
  .page_02_1_line_3 > span:nth-child(1) {
    font-size: 1.125rem;
    color: #e74c3c;
    font-weight: bold;
  }
  
  .page_02_1_line_3 > span:nth-child(2) {
    font-size: 1.25rem;
    color: #232323;
    font-weight: bold;
  }
  
  .page_02_1_line_4 {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
  }
  
  .sub-desc {
    display: flex;
  }
  
  .sub-desc > i,
  .sub-desc > span:nth-child(1) {
    margin-right: 12px;
  }
  
  /* -------------커리큘럼 + 자주묻는 질문 아코디언*/
  
  .acordion-menu,
  .acordion-menu-2 {
    margin-top: 80px;
  }
  
  .accordion,
  .accordion-2 {
    background-color: #fff;
    border-radius: 10px;
  }
  
  .accordion-tab input,
  .accordion-tab-2 input {
    display: none;
  }
  
  .subtitle-item-1,
  .subtitle-2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .subtitle {
    display: flex;
    align-items: end;
    gap: 10px;
  }
  .subtitle-item-2 {
    font-size: 0.875rem;
    font-weight: normal;
    color: gray;
  }
  
  .accordion-tab label,
  .accordion-tab-2 label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e0e0e0;
    font-size: 0.875rem;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    padding: 1.2em;
    border-radius: 10px;
    margin-bottom: 0.4em;
  }
  
  .accordion-tab label > span:nth-child(1),
  .accordion-tab-2 label > img {
    padding-right: 12px;
  }
  
  .accordion-tab label::after,
  .accordion-tab-2 label::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all ease-in-out;
  }
  
  .accordion-tab input:checked ~ label::after,
  .accordion-tab-2 input:checked ~ label::after {
    content: "\f106";
  }
  
  .accordion-tab .accordion-content,
  .accordion-tab-2 .accordion-content-box-2 {
    max-height: 0;
    transition: all;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .accordion-tab input:checked ~ .accordion-content,
  .accordion-tab-2 input:checked ~ .accordion-content-box-2 {
    max-height: 100vh;
  }
  
  .number {
    background-color: #e5e5e5;
    border-radius: 50%;
    color: #fff;
    font-size: 0.75rem;
    margin-right: 0.25rem;
    margin-left: 0.5rem;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    flex-shrink: 0;
  }
  
  .sub-text-content,
  .sub-text-content-2 {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  
  .sub-text-content-2 {
    align-items: start;
    justify-content: flex-start;
  }
  
  .sub-text-content-2 > img {
    margin-top: 2px;
    padding-right: 6px;
  }
  
  .sub-text-content > span:nth-child(2) {
    margin-left: 24px;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .sub-text-content > span:nth-child(3) {
    color: #616161;
    margin-left: auto;
  }
  
  /* content */
  .content {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
    margin-bottom: 220px;
  }
  
  .contnet > img {
    max-width: 100%;
    height: auto;
  }
  
  /* -------------결제박스 */
  
  .right-box {
    position: sticky;
    top: 160px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    width: 360px;
    height: 330px;
    flex-shrink: 1;
  }
  .cash-box {
    padding: 0.8em;
  }
  .cash_line_1 {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  
  .left-box {
    flex-shrink: 4;
  }
  
  .cash-bt,
  .cash-bt-m {
    text-align: center;
    color: #fff;
  }
  
  .cash-bt {
    margin-top: 10px;
  }
  
  .cash-bt-m {
    display: none;
    background-color: #fff;
    padding: 0.6em;
    border-top: 1px solid #e5e5e5;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
  }
  
  .cash-bt > span,
  .cash-bt-m > span {
    font-weight: bold;
    padding: 0.8em;
    background-color: orange;
    border-radius: 10px;
  }
  
  /* footer */
  
  .bottom-bar-1 {
    font-size: 0.9em;
    padding: 32px, 16px;
    display: flex;
    gap: 3em;
  }
  
  .bottom-bar-1 h1 {
    font-size: 1em;
    font-weight: bold;
  }
  
  .bottom-bar-1 div {
    margin-bottom: 0.4em;
  }
  
  .flex-grow {
    display: flex;
    flex-grow: 1;
  }
  
  .bottom-box_3 a {
    display: flex;
    gap: 0.8em;
    text-decoration: none;
    color: #232323;
  }
  
  .bottom-box_3 ul {
    padding-left: 0;
  }
  
  .questions {
    text-align: center;
    padding: 0.8em;
    border: 1px solid gray;
    border-radius: 10px;
  }
  
  
  
  /* > 768px (모바일)*/
  @media screen and (max-width: 768px) {
    /* Reset CSS */
  
    /* ----------------header */
  
    .top-bar > a > img {
      width: 50%;
    }
  
    .menu-box > a,
    .anchor-box > a {
      font-size: 0.9em;
    }
  
   /* ----------------content */
    .content {
      margin-bottom: 100px;
    }
    .content-02-tilte {
      display: none;
    }
  
    .page_02 {
      height: 200px;
      width: auto;
    }
  
    .page_02_1 {
      display: block;
    }
  
    .subtitle {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: flex-start;
    }
    
      .left-box {
      flex-shrink: 1;
    }
    
  /* ----------------결제박스 */
    .cash-box {
      display: none;
    }
  
  
    .right-box {
      display: none;
    }
  
    .cash-bt-m {
      display: block;
    }
  
    .subtitle {
      align-items: start;
    }
  
   /* ----------------footer */ 
    
    .bottom-bar-1 {
      gap: 2em;
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
    }
  
    .bottom-box_3 ul {
      display: flex;
      gap: 0.8em;
    }
  
    .bottom-box_3 a span {
      display: none;
    }
  
  
  }
  